<h2>プロフィール編集</h2>

<%# 1. プロフィール更新用のフォーム (ここから) %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <%# ... (パスワードなどのフィールドは省略せずに入れてください) ... %>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %> 
<%# ↑ ここで一度フォームを完全に終わらせるのが超重要！ %>

<hr>

<h3>アカウント退会</h3>

<p>
  <%= button_to "退会する", registration_path(resource_name), 
      method: :delete, 
      data: { confirm: "本当に退会しますか？" }, 
      class: "btn btn-danger" %>
</p>

<%= link_to "戻る", :back %>