<div id="favorite_btn_<%= post.id %>">
 <% if post.favorited_by?(current_user) %>
   <%# 💡 すでにいいねしている場合：赤いハートで削除リンク %>
   <%= link_to post_favorites_path(post), method: :delete, class: "text-danger" do %>
     ♥ <%= post.favorites.count %>
   <% end %>
 <% else %>
   <%# 💡 まだいいねしていない場合：グレーのハートで作成リンク %>
   <%= link_to post_favorites_path(post), method: :post, class: "text-muted" do %>
     ♡ <%= post.favorites.count %>
   <% end %>
 <% end %>
</div>