<h1>新規投稿</h1>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <h3><%= @post.errors.count %> 件のエラーが発生しました。</h3>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @post, local: true do |f| %>
  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body, "本文" %><br>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.label :image, "画像" %><br>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div>
    <%= f.label :emotion_level, "今の感情レベル（1: どん底 〜 5: 絶好調）" %><br>
    <%= f.select :emotion_level, [1, 2, 3, 4, 5], include_blank: "選択してください" %>
  </div>

  <div>
    <%= f.submit "投稿する" %>
  </div>
<% end %>

<hr>
<%= link_to '一覧に戻る', posts_path %>