<!DOCTYPE html>
<html>
  <head>
    <title>Yorisoi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>lorem ipsum</p>
    <header>
      <% if notice %>
        <p class="notice" style="color: green;"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert" style="color: red;"><%= alert %></p>
      <% end %>

      <nav>
        <h2>Yorisoi</h2>
        <ul>
          <% if admin_signed_in? %>
           <span>管理者としてログイン中</span>
           <ul>
            <li><%= link_to 'ユーザー一覧', admin_users_path %></li>
            <li><%= link_to '投稿一覧', posts_path %></li> <%# 管理者も投稿は見れるように %>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
           </ul>
          
          <% elsif user_signed_in? %>
            <li><%= link_to '新規投稿', new_post_path %></li>
            <li><%= link_to '投稿一覧', posts_path %></li>
            <li><%= link_to 'マイページ', user_path(current_user) %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path %></li>
          
          <% else %>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to '管理者ログイン', new_admin_session_path %></li>
          <% end %>
        </ul>

        <%# --- 💡 検索窓の追加場所 --- %>
        <% if user_signed_in? %>
          <div class="search_form" style="margin-top: 10px; padding: 10px; border-top: 1px solid #ccc;">
            <%= form_with url: search_path, local: true, method: :get do |f| %>
              <%= f.text_field :word, placeholder: "検索ワードを入力" %>
              
              <%= f.select :range, options_for_select([['ユーザー', 'User'], ['投稿', 'Post']]) %>
              
              <%= f.select :search, options_for_select([
                ["完全一致","perfect_match"], 
                ["前方一致","forward_match"],  
                ["後方一致","backward_match"], 
                ["部分一致","partial_match"]
              ]) %>
              
              <%= f.submit "検索", class: "btn btn-info" %>
            <% end %>
          </div>
        <% end %>
        <%# -------------------------- %>

      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
    
  </body>
</html>