<!DOCTYPE html>
<html>
  <head>
    <title>Yorisoi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

     <% if notice %>
      <p class="notice" style="color: green;"><%= notice %></p>
     <% end %>
     <% if alert %>
      <p class="alert" style="color: red;"><%= alert %></p>
     <% end %>
      <nav>
        <h2>Yorisoi</h2>
        <ul>
          <% if admin_signed_in? %>
            <li>管理者メニュー</li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
          
          <% elsif user_signed_in? %>
            <li><%= link_to 'タイムライン', posts_path %></li>
            <li><%= link_to 'マイページ', user_path(current_user) %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          
          <% else %>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to '管理者ログイン', new_admin_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <%= yield %>
    
  </body>
</html>